<p><span style="margin-left:30.27em;margin-right:26.62em"><span class="pydocx-center">GD-F-007 V03</span></span>
</p>
<p><span style="margin-left:16.04em;margin-right:16.12em"><span
            class="pydocx-center"><strong>Instrucciones</strong></span></span></p>
<p><span style="margin-left:0.42em"><span class="pydocx-left"><strong>Generalidades:</strong></span></span></p>
<ul>
    <li><span style="margin-left:2.78em;margin-right:0.48em">Quién(es) lo diligencian: El formato de Acta debe
            ser
            diligenciado por la(s) persona(s), o el área responsable de la actividad, o en su defecto por la(s)
            persona(s) que citan a la reunión.</span></li>
    <li><span style="margin-left:2.78em;margin-right:0.57em">Cuando el se diligencia: El acta debe ser
            diligenciada
            durante el desarrollo de la reunión para ser firmada y comunicada a los participantes en el menor
            tiempo
            posible.</span></li>
    <li><span style="margin-left:2.78em;margin-right:0.49em">Frecuencia de diligenciamiento: N/A pues se
            diligencia
            cada vez que se desarrolla una reunión de trabajo y se deban registrar las actividades, acciones y
            decisiones tomadas.</span></li>
    <li><span style="margin-left:2.78em;margin-right:0.50em">Qué trámite surte el formato una vez diligenciado:
            El
            formato una vez diligenciado debe surtir los efectos relacionados con el proceso o procedimiento de
            las
            áreas, y posteriormente pasar a conformar sus respectivos expedientes.</span></li>
    <li><span style="margin-left:2.78em;margin-right:0.53em">Si se requiere imprimir (en lo posible no): Se debe
            imprimir en caso de que se trate de un documento que haga parte de un expediente del área, salvo que
            se
            gestione como un documento electrónico en los sistemas de información adecuados que cumplan los
            requisitos de documento electrónico y permita la conformación de los expedientes electrónicos o
            híbridos.</span></li>
    <li><span style="margin-left:2.78em">Quién lo guarda: Las actas deben ser guardadas en sus respectivos
            expedientes .</span></li>
    <li><span style="margin-left:2.78em">Otros, según se considere necesario</span></li>
</ul>
<table border="1">
    <tr>
        <td><span style="margin-left:2.41em"><strong>Campo</strong> <strong>del</strong>
                <strong>formato</strong></span></td>
        <td><span style="margin-left:4.51em"><strong>Instrucción</strong></span></td>
        <td><span style="margin-left:2.03em"><strong>Tener</strong> <strong>en</strong>
                <strong>cuenta</strong></span></td>
    </tr>
    <tr>
        <td><span style="margin-left:0.44em;margin-right:1.13em">SOLICITAR PERMISO PARA GRABAR LAS
                REUNIONES</span>
        </td>
        <td><span style="margin-left:0.45em;margin-right:0.40em">Se debe solicitar permiso para grabar<span
                    class="pydocx-tab"></span>las<span class="pydocx-tab"></span>reuniones Especialmente para
                las
                reuniones virtuales donde no se puede incluir la firma de estos participantes. La aprobación se
                puede registrar en la columna</span><br /><span style="margin-left:0.45em">junto a la
                firma.</span>
        </td>
        <td></td>
    </tr>
    <tr>
        <td><span style="margin-left:0.44em">ACTA No.</span></td>
        <td><span style="margin-left:0.45em">Se inicia un consecutivo por</span><br /><span
                style="margin-left:0.45em;margin-right:1.70em">vigencia, iniciando desde N° 1 hasta N°
                veces.</span>
        </td>
        <td><span style="margin-left:0.45em">Se archiva en orden</span><br /><span
                style="margin-left:0.45em">cronológico, del más antiguo al más reciente</span></td>
    </tr>
    <tr>
        <td><span style="margin-left:0.44em;margin-right:0.77em">NOMBRE DEL COMITÉ O DE LA REUNIÓN:</span></td>
        <td><span style="margin-left:0.45em;margin-right:0.40em">Verificar si el comité convocado esta creado
                por
                acto administrativo para registrar su nombre o en su defecto nombrar</span><br /><span
                style="margin-left:0.45em">colocar la temática a desarrollar.</span></td>
        <td></td>
    </tr>
    <tr>
        <td><span style="margin-left:0.44em">CIUDAD Y FECHA:</span></td>
        <td><span style="margin-left:0.45em;margin-right:0.37em">Registre el nombre de la ciudad y el día en que
                se
                celebra la</span><br /><span style="margin-left:0.45em">reunión.</span></td>
        <td></td>
    </tr>
    <tr>
        <td><span style="margin-left:0.44em">HORA INICIO /HORA FIN</span></td>
        <td><span style="margin-left:0.45em">Registre la hora de inicio de la</span><br /><span
                style="margin-left:0.45em">reunión y la hora de finalización</span></td>
        <td></td>
    </tr>
    <tr>
        <td><span style="margin-left:0.44em;margin-right:2.73em">DIRECCIÓN GENERAL / REGIONAL / CENTRO</span>
        </td>
        <td><span style="margin-left:0.45em">Registre el nombre del lugar en el</span><br /><span
                style="margin-left:0.45em">que se celebra la reunión.</span></td>
        <td></td>
    </tr>
    <tr>
        <td><span style="margin-left:0.44em">LUGAR Y/O ENLACE</span></td>
        <td><span style="margin-left:0.45em;margin-right:0.41em">Registre el lugar donde se lleva a cabo la
                reunión
                y el enlace si se trata de una reunión virtual y/o si la reunión fue grabada registre el enlace
                de
                la grabación. Puede registrar el lugar y el enlace al tiempo si se trata de una reunión con
                participación presencial y</span><br /><span style="margin-left:0.45em">virtual al
                tiempo.</span>
        </td>
        <td><span style="margin-left:0.45em;margin-right:0.42em">Solicitar<span
                    class="pydocx-tab"></span>permiso<span class="pydocx-tab"></span>para grabar las
                reuniones</span></td>
    </tr>
    <tr>
        <td><span style="margin-left:0.44em;margin-right:1.50em">AGENDA O PUNTOS PARA DESARROLLAR</span></td>
        <td><span style="margin-left:0.45em;margin-right:0.38em">Listar las temáticas centrales del comité o de
                la
                reunión.</span></td>
        <td><span style="margin-left:0.45em;margin-right:0.39em">Si es un comité incluir un punto relacionado
                con
                la</span><br /><span style="margin-left:0.45em">verificación de quorum</span></td>
    </tr>
</table>
<table border="1">
    <tr>
        <td><span style="margin-left:0.44em;margin-right:4.15em">OBJETIVO(S) DE LA REUNIÓN:</span></td>
        <td><span style="margin-left:0.45em;margin-right:0.41em">Iniciando<span
                    class="pydocx-tab"></span>con<span class="pydocx-tab"></span>un<span
                    class="pydocx-tab"></span>verbo<span class="pydocx-tab"></span>en infinitivo indicar el
                propósito o</span><br /><span style="margin-left:0.45em">finalidad de la reunión</span></td>
        <td></td>
    </tr>
    <tr>
        <td><span style="margin-left:0.44em;margin-right:3.76em">DESARROLLO DE LA REUNIÓN</span></td>
        <td><span style="margin-left:0.45em;margin-right:0.40em">Realizar descripción del desarrollo de la
                reunión
                conforme con la agenda o los puntos a desarrollar.</span></td>
        <td><span style="margin-left:0.45em;margin-right:0.41em">Si es un comité es importante verificar el
                quorum
                indicando los roles que desempeña cada uno.</span></td>
    </tr>
    <tr>
        <td><span style="margin-left:0.44em">CONCLUSIONES</span></td>
        <td><span style="margin-left:0.45em">Resumen de las decisiones y</span><br /><span
                style="margin-left:0.45em;margin-right:0.40em">aspectos<span class="pydocx-tab"></span>más<span
                    class="pydocx-tab"></span>importantes tratados.</span></td>
        <td></td>
    </tr>
    <tr>
        <td><span style="margin-left:0.44em">COMPROMISOS</span></td>
        <td><span style="margin-left:0.45em;margin-right:0.39em">Se registran las tareas asignadas a los
                participantes y las fechas de</span><br /><span style="margin-left:0.45em">cumplimiento.</span>
        </td>
        <td><span style="margin-left:0.45em;margin-right:0.42em">Realice<span class="pydocx-tab"></span>revisión
                compromisos anteriores</span></td>
    </tr>
    <tr>
        <td><span style="margin-left:0.44em">FIRMAS</span></td>
        <td><span style="margin-left:0.45em;margin-right:0.39em">Para el caso de participación presencial en la
                reunión se debe incluir la firma manuscrita, para el caso de participación a través de medios
                electrónicos se registra la participación incluyendo la imagen o captura de pantalla donde se
                evidencia la participación y en la firma se registra al participante y se firma como<span
                    class="pydocx-tab"></span>(PARTICIPACIÓN</span><br /><span
                style="margin-left:0.45em">VIRTUAL)</span></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="3"><span style="margin-left:0.44em"><strong>LA</strong> <strong>INFORMACIÓN</strong>
                <strong>DE</strong> <strong>ESTE</strong> <strong>DOCUMENTO</strong> <strong>SE</strong>
                <strong>DEBE</strong> <strong>CLASIFICAR</strong> <strong>COMO</strong></span></td>
    </tr>
    <tr>
        <td colspan="3"><span style="margin-left:0.44em">PROTECCIÓN DE DATOS PERSONALES</span></td>
    </tr>
    <tr>
        <td><span style="margin-left:0.67em">DATO PERSONAL:</span></td>
        <td><span style="margin-left:0.45em;margin-right:0.40em">Cualquier información vinculada o que pueda
                asociarse a una o varias personas naturales</span><br /><span
                style="margin-left:0.45em">determinadas o determinables</span></td>
        <td></td>
    </tr>
    <tr>
        <td><span style="margin-left:0.44em">ENCARGADO<span class="pydocx-tab"></span>DEL</span><br /><span
                style="margin-left:0.44em">TRATAMIENTO:</span></td>
        <td><span style="margin-left:0.45em;margin-right:0.38em">Persona natural o jurídica, pública o privada,
                que
                por sí misma o en</span></td>
        <td></td>
    </tr>
</table>
<table border="1">
    <tr>
        <td></td>
        <td><span style="margin-left:0.45em;margin-right:0.40em">asocio con otros, realice el Tratamiento de
                datos
                personales por cuenta del responsable del</span><br /><span
                style="margin-left:0.45em">Tratamiento</span></td>
        <td></td>
    </tr>
    <tr>
        <td><span style="margin-left:0.44em;margin-right:0.43em">RESPONSABLE<span class="pydocx-tab"></span>DEL
                TRATAMIENTO</span></td>
        <td><span style="margin-left:0.45em;margin-right:0.41em">Persona natural o jurídica, pública o privada,
                que
                por sí misma o en asocio con otros, decida sobre la base de datos y/o el
                Tratamiento</span><br /><span style="margin-left:0.45em">de los datos</span></td>
        <td></td>
    </tr>
    <tr>
        <td><span style="margin-left:0.44em">TITULAR</span></td>
        <td><span style="margin-left:0.45em">Persona<span class="pydocx-tab"></span>natural<span
                    class="pydocx-tab"></span>cuyos<span class="pydocx-tab"></span>datos</span><br /><span
                style="margin-left:0.45em;margin-right:0.41em">personales<span
                    class="pydocx-tab"></span>sean<span class="pydocx-tab"></span>objeto<span
                    class="pydocx-tab"></span>de Tratamiento</span></td>
        <td></td>
    </tr>
    <tr>
        <td><span style="margin-left:0.44em">TRATAMIENTO</span></td>
        <td><span style="margin-left:0.45em;margin-right:0.41em">Cualquier operación o conjunto de operaciones
                sobre
                datos personales, tales como la recolección, almacenamiento,</span><br /><span
                style="margin-left:0.45em">uso, circulación o supresión</span></td>
        <td></td>
    </tr>
    <tr>
        <td><span style="margin-left:0.44em">FINALIDAD</span></td>
        <td><span style="margin-left:0.45em;margin-right:0.39em">La utilización de los datos debe sujetarse a
                una
                finalidad legítima de acuerdo con la Constitución y la ley. La finalidad de la utilización de
                los
                datos debe ser informada al titular de la información previa o concomitantemente con el
                otorgamiento
                de la autorización, cuando ella sea necesaria o en general siempre que el
                titular</span><br /><span style="margin-left:0.45em">solicite información al respecto</span>
        </td>
        <td></td>
    </tr>
    <tr>
        <td colspan="3"><span style="margin-left:10.49em;margin-right:10.48em"><span
                    class="pydocx-center"><strong>CLASIFICACIÓN</strong> <strong>DE</strong> <strong>LA</strong>
                    <strong>INFORMACIÓN</strong></span></span></td>
    </tr>
    <tr>
        <td><span style="margin-left:0.44em">TIPOS DATOS: PÚBLICA</span></td>
        <td><span style="margin-left:0.45em;margin-right:0.39em">Es el dato que la ley o la Constitución
                Política
                determina como tal, así como todos aquellos que no sean semiprivados o privados.</span></td>
        <td><span style="margin-left:0.45em;margin-right:0.42em">Ejemplos: Datos relativos al estado civil de
                las
                personas, su profesión u oficio, su calidad de comerciante o servidor</span><br /><span
                style="margin-left:0.45em">público y aquellos que</span></td>
    </tr>
</table>
<table border="1">
    <tr>
        <td></td>
        <td></td>
        <td><span style="margin-left:0.45em">pueden<span class="pydocx-tab"></span>obtenerse<span
                    class="pydocx-tab"></span>sin</span><br /><span style="margin-left:0.45em">reserva
                alguna</span>
        </td>
    </tr>
    <tr>
        <td><span style="margin-left:0.44em">TIPOS<span class="pydocx-tab"></span>DATOS:</span><br /><span
                style="margin-left:0.44em">SEMIPRIVADA</span></td>
        <td><span style="margin-left:0.45em;margin-right:0.41em">Es el dato que no tiene naturaleza íntima,
                reservada, ni pública y cuyo conocimiento o divulgación puede interesar no sólo a su titular
                sino a
                cierto sector o grupo de</span><br /><span style="margin-left:0.45em">personas.</span></td>
        <td><span style="margin-left:0.45em">Ejemplos:</span><br /><span
                style="margin-left:0.45em;margin-right:0.42em">Datos<span
                    class="pydocx-tab"></span>financieros<span class="pydocx-tab"></span>y crediticios,<span
                    class="pydocx-tab"></span>dirección,</span><br /><span
                style="margin-left:0.45em;margin-right:0.42em">teléfono,<span class="pydocx-tab"></span>correo
                electrónico</span></td>
    </tr>
    <tr>
        <td><span style="margin-left:0.44em">TIPOS DATOS: PRIVADA</span></td>
        <td><span style="margin-left:0.45em;margin-right:0.41em">Es el dato que por su naturaleza íntima o
                reservada
                sólo es relevante para el titular de la información.</span></td>
        <td><span style="margin-left:0.45em">Ejemplos:</span><br /><span
                style="margin-left:0.45em;margin-right:0.42em">fotografías, videos, datos relacionados con su
                estilo
                de vida</span></td>
    </tr>
    <tr>
        <td><span style="margin-left:0.44em">TIPOS DATOS: SENSIBLE</span></td>
        <td><span style="margin-left:0.45em;margin-right:0.40em">Es el dato que afecta la intimidad del titular
                o
                cuyo uso indebido puede generar su discriminación.</span></td>
        <td><span style="margin-left:0.45em">Ejemplos:</span><br /><span
                style="margin-left:0.45em;margin-right:0.42em">Estado de salud, Origen racial o
                étnico,</span><br /><span style="margin-left:0.45em;margin-right:0.41em">Orientación<span
                    class="pydocx-tab"></span>sexual, Afiliación<span class="pydocx-tab"></span><span
                    class="pydocx-tab"></span>a</span><br /><span
                style="margin-left:0.45em;margin-right:0.41em">organizaciones sindicales o políticas, Creencias
                religiosas o filosóficas, Aspectos biométricos o genéticos</span></td>
    </tr>
</table>
<p><span style="margin-left:0.88em;margin-right:0.99em">Si la información marcada es (Privada, Semiprivada) y de
        conformidad con lo dispuesto en la Ley 1581 de 2012 el Servicio Nacional de Aprendizaje – SENA es
        responsable del tratamiento de datos personales y en tal virtud recolectará, almacenará y usará su
        información personal para las siguientes finalidades: (1) Gestionar actividades de capacitación, reunión
        o
        asistencia.</span></p>
<p><span style="margin-left:0.88em;margin-right:0.97em">Si la información marcada es (Sensible) y de acuerdo con
        la
        Ley 1581 de 2012 esto se considerará datos sensibles, puesto que pueden llegar a afectar la intimidad o
        cuyo
        uso indebido llegue a generar discriminación. En caso en que la Entidad requiera la recolección de esta
        información, el titular tiene el derecho a contestar o no las preguntas que se le formulan y a entregar
        o no
        los datos solicitados. Adicionalmente como titular de sus datos personales usted tiene derecho a: (i)
        Acceder en forma gratuita a los datos proporcionados que hayan sido objeto de tratamiento. (ii) Conocer,
        actualizar y rectificar su información frente a datos parciales, inexactos, incompletos, fraccionados,
        que
        induzcan a error, o a aquellos cuyo tratamiento esté prohibido o no haya sido autorizado. (iii)
        Solicitar
        prueba de la autorización otorgada. (iv) Presentar ante la Superintendencia de Industria y Comercio
        (SIC)
        quejas por infracciones a lo dispuesto en la normatividad vigente. (v) Revocar la autorización y/o
        solicitar
        la supresión del dato, siempre que no exista un deber legal o contractual que impida eliminarlos. (vi)
        Abstenerse de responder las preguntas sobre datos sensibles. El titular podrá ejercer sus derechos
        siguiendo
        el procedimiento descrito en nuestra Política de Protección de Datos Personales, la cual puede consultar
        ingresando en la página web <a href="http://www.sena.edu.co/">www.sena.edu.co.</a> El diligenciar la
        información requerida en este formato se entenderá como una conducta inequívoca de que usted como
        titular de
        los datos personales, otorga su consentimiento al Servicio Nacional de Aprendizaje – SENA para que trate
        su
        información personal de acuerdo con las finalidades mencionadas anteriormente, manifiesta que la
        presente
        autorización le fue solicitada, puesta en conocimiento antes de entregar sus datos y que la suscribe de
        forma libre y voluntaria una vez leída en su totalidad.</span></p>
<p><span style="margin-left:0.88em;margin-right:1.02em">**La autorización del Titular no será necesaria cuando
        se
        trate de Información requerida por una entidad pública o administrativa en ejercicio de sus funciones
        legales o por orden judicial, datos de naturaleza pública, casos de urgencia médica o sanitaria, datos
        relacionados con el Registro Civil de las Personas.</span></p>
<p><span style="margin-left:0.88em">**En el Tratamiento se asegurará el respeto a los derechos prevalentes de
        los
        niños, niñas y</span></p>
<p><span style="margin-left:0.88em">adolescentes.</span></p>
<p><span style="margin-left:0.88em;margin-right:0.98em">** Si la información en este documento es solicitada por
        un
        tercero y cuenta con clasificación ( Semi-Privada, Privada o Sensible) se debe realizar una finalidad
        del
        proceso de anonimización la cual es evitar la identificación de las personas y reducir su probabilidad
        de
        reidentificación sin afectar la veracidad de los resultados y la utilidad de los datos que han sido
        tratados.</span></p>
<p><span style="margin-left:0.88em;margin-right:0.98em">El proceso de anonimización de datos personales requiere
        una
        adecuada comprensión del propósito final de la utilización de la información, así como de su nivel de
        utilidad, teniendo en cuenta que independientemente de las técnicas empleadas, una vez realizado el
        proceso
        de anonimización se reduce la información original del conjunto de datos. Por tal motivo es importante
        determinar el costo de oportunidad entre la utilidad que se busca obtener a partir de los datos y el
        nivel
        de riesgo de reidentificación.</span></p>
<p><span style="margin-left:0.88em">Una vez los datos son anonimizados, estos se pueden usar, reutilizar y
        divulgar
        sin violar el derecho a la protección de datos de los titulares de la información.</span></p>
<p><span style="margin-left:0.88em;margin-right:1.03em">Para realizar el proceso de anonimizarían diríjase a la
        guía
        de GUÍA DE ANONIMIZACIÓN DE DATOS ESTRUCTURADOS del Archivo general de la nación. https://<a
            href="http://www.archivogeneral.gov.co/sites/default/files/Estructura_Web/5_Consulte/Recursos/Pu">www.archivogeneral.gov.co/sites/default/files/Estructura_Web/5_Consulte/Recursos/Pu</a>
        blicacionees/Guia_de_Anonimizacion-min.pdf</span></p>